name: Cleanup All Workflow Runs
on:
  schedule:
    - cron: '0 0 * * 0'
      timezone: 'Asia/Shanghai'
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Delete all workflow runs
        run: |
          page=1
          while true; do
            # 获取当前页数据
            runs=$(curl -s -H "Authorization: token ${{ secrets.AUTH_PAT }}" \
                    "https://api.github.com/repos/${{ github.repository }}/actions/runs?per_page=100&page=$page" \
                    | jq -r '.workflow_runs | map(select(.status != "in_progress")) | .[].id')
            
            # 如果没有数据，跳出循环
            [ -z "$runs" ] && break
            
            # 删除当前页的所有记录
            echo "$runs" | xargs -I {} curl -X DELETE \
                -H "Authorization: token ${{ secrets.AUTH_PAT }}" \
                "https://api.github.com/repos/${{ github.repository }}/actions/runs/{}"
            
            # 下一页
            page=$((page+1))
            
            # 添加小延迟避免速率限制
            sleep 0.2
          done
